.navContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--tpg-header-font-size);
}

.navBarInner {
  width: var(--tpg-basic-width);
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navBarLogo {
  font-family: Libertinus, Helvetica, sans-serif;
  font-weight : bold;
}

.navBarMenu {
  font-family: Montserrat, Helvetica, sans-serif;
}

.navBarMenu a{
  margin-left:10px;
}